.App{
  margin-left: 100px;
  margin-right: 100px;
}

nav{
  background-color: lightgray;
}
.end_class_btn{
  color: white;
  background-color: tomato;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline-width: 0;
  width: 120px;
}

.navbar_right{
  display: flex;
  float: right;
}

.navbar_left{
  display: flex;
  float: left;
}

.navbar_left>h3{
  margin-left: 10px;
  color: gray;
  padding: 10px;
}

.logo{
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}